<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="ie=edge" http-equiv="X-UA-Compatible"/>
<title>Document</title>
<link href="static/table/assets/css/bootstrap.min.css" rel="stylesheet"/>
<link href="static/table/assets/css/datatables.bootstrap4.min.css" rel="stylesheet"/>
<!-- Favicons -->
<link href="static/landing/img/catalog.png" rel="icon"/>
<link href="static/landing/img/apple-touch-icon.png" rel="apple-touch-icon"/>
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet"/>
<!-- Bootstrap CSS File -->
<link href="static/landing/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
<!-- Libraries CSS Files -->
<link href="static/landing/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
<link href="static/landing/lib/animate/animate.min.css" rel="stylesheet"/>
<link href="static/landing/lib/ionicons/css/ionicons.min.css" rel="stylesheet"/>
<link href="static/landing/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet"/>
<link href="static/landing/lib/lightbox/css/lightbox.min.css" rel="stylesheet"/>
<!-- Main Stylesheet File -->
<link href="static/landing/css/style.css" rel="stylesheet"/>
<style>
    #container2{
      margin-left: 80px;
      padding-top: 80px;;
      margin-right :80px;
      padding-bottom: 60px;

    }
    #header{
      background-color: #e6e6eb;
      height:60px;
    }
    </style>
</head>
<body>
<header id="header">
<div class="container">
<div class="logo float-left">
<!-- Uncomment below if you prefer to use an image logo -->
<h1 class="text-light"><a class="scrollto" href="/"><span>DATA CATALOGUE</span></a></h1>
</div>
<nav class="main-nav float-right d-none d-lg-block">
<ul>
<li class="active"><a href="#intro">Home</a></li>
<li class="drop-down"><a href="">Catalogue</a>
<ul>
<li><a href="add">Add To Catalogue</a></li>
<li><a href="display">Access Catalogue</a></li>
<li class="drop-down"><a href="#">Popular Data</a>
<ul>
<li><a href="#">Population</a></li>
<li><a href="licences">Business Licences</a></li>
<li><a href="council">Council Contacts</a></li>
<li><a href="facilities">Facilities &amp; Parks</a></li>
<li><a href="#">Employment</a></li>
</ul>
</li>
<li><a href="#footer">Request Update</a></li>
</ul>
</li>
<li><a href="/">Process</a></li>
<li><a href="/">FAQ</a></li>
</ul>
</nav><!-- .main-nav -->
</div>
</header><!-- #header -->
<div id="container2">
</div>
<!-- Bootstrap core JavaScript-->
<script src="static/table/assets/js/jquery.min.js"></script>
<!-- Page level plugin JavaScript-->
<script src="static/table/assets/js/jquery.datatables.min.js"></script>
<script src="static/table/assets/js/datatables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function () {
$('#dtBasicExample').DataTable();
$('.dataTables_length').addClass('bs-select');
});
    </script>
<a class="back-to-top" href="#"><i class="fa fa-chevron-up"></i></a>
<script src="static/landing/js/main.js"></script>
<table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table><table></table></body>
</html>
