<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Guelph Catalogue</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="static/landing/img/catalog.png" rel="icon">
  <link href="static/landing/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="static/landing/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="static/landing/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="static/landing/lib/animate/animate.min.css" rel="stylesheet">
  <link href="static/landing/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="static/landing/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/landing/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="static/landing/css/style.css" rel="stylesheet">
<style>
  #intro2{
    padding-top: 90px;
    padding-bottom : 30px;
  }
  #intro2 .card{
    margin: 0 auto;
  }
  #header{
    background-color: #f5eeed;
    height:70px;
  }
  .modal{

  }
  .far {

  background: $brand-accent;
  border-radius:0;
  color: $utility-dark-grey;
  display:inline-block;
  font-size: 1rem;
  height: 50px;
  line-height: 0px;
  position: fixed;
  right: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -moz-transform:rotate(-180deg);
  -ms-transform:rotate(-180deg);
  -o-transform:rotate(-90deg);
  -webkit-transform:rotate(-90deg);
  transform-origin: bottom right;
  width: 50px;

  /* Hover styles,
  media queries */
}


  </style>
</head>

<body>

  <!--==========================
  Header
  ============================-->

  <header id="header">


    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->

        <h1 class="text-light"><a href="/" class="scrollto"><span>DATA CATALOGUE</span></a></h1>

      </div>

      <nav class="main-nav float-right d-none d-lg-block">
     <ul>
       <li class="active"><a href="#intro">Home</a></li>
       <li class="drop-down"><a href="">Catalogue</a>
         <ul>
           <li><a href="add">Add To Catalogue</a></li>
           <li><a href="display">Access Catalogue</a></li>
           <li class="drop-down"><a href="#">Popular Data</a>
             <ul>
               <li><a href="#">Population</a></li>
               <li><a href="licences">Business Licences</a></li>
               <li><a href="council">Council Contacts</a></li>
               <li><a href="facilities">Facilities & Parks</a></li>
               <li><a href="#">Employment</a></li>
             </ul>
           </li>
           <li><a href="#footer">Request Update</a></li>

         </ul>
       </li>
       <li><a href="#about">Process</a></li>

     </ul>
   </nav><!-- .main-nav -->

    </div>

  </header><!-- #header -->

  <section id="intro2" class="clearfix">

    <div class="container d-flex h-100">
      <div class="card">
  <h5 class="card-header">Data Catalogue Form</h5>
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary far" data-toggle="modal" data-target="#staticBackdrop">
<img src="https://img.icons8.com/ios/30/000000/view-details.png"/>
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>What is Lorem Ipsum?
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

          Why do we use it?
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
        </p>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  <div class="card-body">

    <form class="needs-validation" id = "form_id" novalidate action='add' method="post">
      <div class="form-row">
        <div class="col-md-12 mb-4">


          <label for="validationCustom01"><strong>Data Title *</strong></label>
          <input type="text" class="form-control" id="validationCustom01" name="data_name" placeholder="Data Entity Name" required>

          <div class="invalid-feedback">
            Please provide a data entity name.
          </div>

        </div>

        <div class="col-md-12 mb-4">
          <label for="validationCustom02"><strong>Serial Number *</strong></label>
          <input type="text" class="form-control" id="validationCustom02"  name="serial_number"  placeholder="Serial Number" required>

          <div class="invalid-feedback">
            Please provide a serial number.
          </div>
        </div>
        <div class="col-md-12 mb-4">
          <label for="validationCustomUsername"><strong>Source Name *</strong></label>
          <div class="input-group">

            <input type="text" class="form-control" id="validationCustomUsername" name="source_name" placeholder="Source Name" aria-describedby="inputGroupPrepend" required>
            <div class="invalid-feedback">
              Please provide a source name.
            </div>
          </div>
        </div>


        <div class="col-md-12 mb-4">
          <label for="validationCustom03"><strong>Description *</strong></label>
          <input type="text" class="form-control" id="validationCustom03"  name="description"  placeholder="Description of Data" required>
          <div class="invalid-feedback">
            Please provide a description of the data.
          </div>
        </div>
        <div class="col-md-12 mb-4">
          <label for="validationCustom04"><strong>Data Owner *</strong></label>
          <input type="text" class="form-control" id="validationCustom04" name="data_owner" placeholder="Data Owner" required>
          <div class="invalid-feedback">
            Please provide the data owner name.
          </div>
        </div>

        <div class="col-md-12 mb-4">
          <label for="validationCustom05"><strong>Private *</strong></label>
            <select id="inputState" class="form-control", name = "private_data">

              <option>Yes</option>
                <option>No</option>
                <option selected>Not Aware</option>

            </select>
        </div>

      <div class="col-md-12 mb-4">
        <label for="validationCustom05"><strong>Tags *</strong></label>
        <input type="text" class="form-control" placeholder="Tags" name="tags" required>

      </div>
      <div class="col-md-12 mb-4">
        <label for="validationCustom05"><strong>Recurrent *</strong></label>
          <select id="inputState" class="form-control" name="recurring_data">

            <option>Yes</option>
              <option>No</option>
              <option selected>Not Aware</option>

          </select>
      </div>

      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
          <label class="form-check-label" for="invalidCheck">
            Agree to terms and conditions
          </label>
          <div class="invalid-feedback">
            You must agree before submitting.
          </div>
        </div>
      </div>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          {{message}}
          </div>
        {% endfor %}
        {% endif %}
      {% endwith %}

      {% block body %}{% endblock %}
      <button class="btn btn-primary" type="submit">Submit form</button>

    </form>

    <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
    </script>
    <script>$(document).ready(function() {
    $('form_id').on('submit', function(evt) {
          evt.preventDefault();
          setTimeout(function() {
               window.location.reload();
          },0);
          this.submit();
    });
});</script>

  </div>
</div>

    </div>
  </section><!-- #intro -->


  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="static/landing/lib/jquery/jquery.min.js"></script>
  <script src="static/landing/lib/jquery/jquery-migrate.min.js"></script>
  <script src="static/landing/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/landing/lib/easing/easing.min.js"></script>
  <script src="static/landing/lib/mobile-nav/mobile-nav.js"></script>
  <script src="static/landing/lib/wow/wow.min.js"></script>
  <script src="static/landing/lib/waypoints/waypoints.min.js"></script>
  <script src="static/landing/lib/counterup/counterup.min.js"></script>
  <script src="static/landing/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="static/landing/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="static/landing/lib/lightbox/js/lightbox.min.js"></script>
  <!-- Contact Form JavaScript File -->


  <!-- Template Main Javascript File -->
  <script src="static/landing/js/main.js"></script>
  <script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
</body>
</html>
